.social-login
        button
            span
                i.fab.fa-github
                |Continue with github
        button.socila-login__facebook
            span
                i.fab.fa-facebook
                |Continue with facebook
