extends layouts/main

block content
    .form__container
        form(action=routes.editProfile, method="post")
            lavel(for="avatar") Avatar
            input(type="file", id="avatar", name="avatar")
            

