extends layouts/main

block content
    .form-container
        form(action=`/video${routes.upload}`, method="post", enctype="multipart/form-data")
            lavel(for="avatar") Video File
            input(type="file", id="file", name="vidoeFile", required= true, accept="video/*")
            input(type="text", placeholder="Title", name="title", required= true )
            input(type="text", placeholder="Description", name="description", required= true)
            input(type="submit", value="upate video")

