extends layouts/main

block content
    .form-container
        form(action=routes.editVideo, method="post")
            lavel(for="avatar") Video File
            input(type="file", id="avatar", name="Choose file")
            input(type="text", placeholder="Title", name="title" )
            input(type="text", placeholder="Description", name="description")
            input(type="submit", value="upate video")

